<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gradebook</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="navbar-toggle collapsed start-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <div class="navbar-brand show-resp start-right noselect"><i class="fa fa-book" aria-hidden="true"></i> GRADEBOOK</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="navbar-header">

                            <a href="@Url.Action("Index","Home")"><div class="navbar-brand"><i class="fa fa-book fa-3x" aria-hidden="true"></i></div></a>
                        </div>
                    </div>
                    <div class="container-fluid">
                        @Html.Partial("Menu/_Menu")
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <ul id="nav-lava">
            @{
                var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
                var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
                var currentPage = (currentController + "-" + currentAction).ToLower();
            }
            <li class="@Html.Raw(currentController == "Home" ? "active" : "")">
                <a href="@Url.Action("Index","Home")"><div class="dropbtn-lite"><i class="fa fa-university fa-3x"></i></div></a>
            </li>
            <li class="@Html.Raw(currentController == "Gradebook" ? "active" : "")">
                <a href="@Url.Action("Index","Gradebook")"><i class="fa fa-folder-open fa-3x dropbtn-lite"></i></a>
            </li>
            <li class="@Html.Raw(currentController == "Acp" ? "active" : "")">
                <div class="dropdown-lite">
                    <div class="dropbtn-lite"><i class="fa fa-cog fa-3x"></i></div>
                    <div class="dropdown-content-lite">
                        <a href="@Url.Action("ManageSubjects","Acp")">Subjects</a>
                        <a href="@Url.Action("ManageFields","Acp")">Fields</a>
                        <a href="@Url.Action("ManagePupils","Acp")">Pupils</a>
                        <a href="@Url.Action("ManageClasses","Acp")">Classes</a>
                        <a href="@Url.Action("ManageUsers","Acp")">Users</a>
                    </div>
                </div>
            </li>
            <li class="@Html.Raw(currentController == "Pcp" ? "active" : "")">
                <div class="dropdown-lite">
                    <div class="dropbtn-lite"><i class="fa fa-id-card-o fa-3x"></i></div>
                    <div class="dropdown-content-lite">
                        <a href="@Url.Action("AddPupil","Pcp")">Pupil</a>
                        <a href="@Url.Action("ManageLessons","Pcp")">Lesson</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-lava.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js "></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
</body>
</html>
