<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gradebook</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="navbar-toggle collapsed start-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <div class="navbar-brand show-resp start-right noselect"><i class="fa fa-book" aria-hidden="true"></i> GRADEBOOK</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="navbar-header">

                            <a href="@Url.Action("Index","Home")"><div class="navbar-brand"><i class="fa fa-book fa-3x" aria-hidden="true"></i></div></a>
                        </div>
                    </div>
                    <div class="container-fluid">
                        @Html.Partial("Menu/_Menu")
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <ul id="nav-lava">
            <li>
                <a href="@Url.Action("Index","Home")"><div class="dropbtn-lite"><i class="fa fa-university fa-3x"></i></div></a>
            </li>
            <li><a href="@Url.Action("Index","Gradebook")"><i class="fa fa-folder-open fa-3x dropbtn-lite"></i></a></li>
            <li>
                <div class="dropdown-lite">
                    <div class="dropbtn-lite" onclick="openDrop()"><i class="fa fa-file-text fa-3x"></i></div>
                    <div id="sideNavDropdown" class="dropdown-content-lite">
                        <a href="#home">Home</a>
                        <a href="#about">About</a>
                        <a href="#contact">Contact</a>
                    </div>
                </div>
            </li>
            <div id="lavalamp"></div>
        </ul>
    </div>
    <div class="content-block">
        @RenderBody()
    </div>


    <script type="text/javascript" src="/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.js "></script>
    <script type="text/javascript" src="/Scripts/custom.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip({
                    container: 'body'
                });
            });

            $('.main-grades-collapse').click(function () {
                $(this).parent().siblings('.main-grades-more').slideToggle('fast');
            });

        });
        
    </script>
</body>
</html>
