@model Gradebook.PresentationLayer.WebApplication.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<h1>Login</h1>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <ul>
        <li>
            <i class="zmdi zmdi-account"></i>
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Username, String.Empty)

        </li>
        <li>
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, String.Empty)
            @Html.ValidationMessage("IncorrectCredentials", "", new { @class = "text-danger" })
        </li>
        <li>
            @Html.CheckBoxFor(m => m.RememberMe, new { @id = "remember" })
            <label for="remember">Remember me</label>
            <span>
                <input type="submit" value="Login" />
            </span>
        </li>
    </ul>
}

