@*{
        ViewBag.Title = "Index";
    }
    @Html.Raw(User.Identity.Name);
    @Html.Raw(User.Identity.IsAuthenticated.ToString());
    @if (Membership.IsInRole("Moderator"))
    {
        @Html.Raw("Moderator");
    }
    else
    {
        @Html.Raw("Nope");
    }
        <h2>Index</h2>

*@

@model IEnumerable<Gradebook.PresentationLayer.WebApplication.Models.PupilModel>

<div class="main-filter noselect">
    <div class="float-right">
        <form method="get" action="@Url.Action("Index", "Home")">
            <input type="text" name="search" id="search" class="nomargin" placeholder="Search..." /><button type="submit" class="main-search-button nomargin"><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
    <a href="#"><div class="main-filter-option float-right"  data-toggle="tooltip" data-placement="bottom" title="Sort by class or grade">CLASS/GRADE <span class="caret"></span></div></a>
    <a href="#"><div class="main-filter-option float-right"  data-toggle="tooltip" data-placement="bottom" title="Sort by year">YEAR <span class="caret"></span></div></a>
    <a href="#"><div class="main-filter-option float-right"  data-toggle="tooltip" data-placement="bottom" title="Sort by field of study">FIELD OF STUDY <span class="caret"></span></div></a>
</div>
<div class="main-table-container">
    <div class="main-table-header">
        <div>ID</div>
        <div>Full Name</div>
        <div>Year + Grade</div>
        <div>Field of study</div>
        <div class="details-coll">Details</div>
    </div>
    @foreach (var item in Model)
    {
        Html.RenderPartial("Partial/_PartialPupil", item);
    }
</div>