@model Gradebook.PresentationLayer.WebApplication.Models.BasicModels.SubjectModel
@using Gradebook.BusinessLogicLayer.Interfaces
@using Gradebook.BusinessLogicLayer.Managers


@{
    IUserManager _userManager = new UserManager();
    IEnumerable<UserModel> userModels = _userManager.GetAllProfessors().Select(x => (UserModel)x);
    var userList = new SelectList(userModels, "Id", "FullName", Model.UserId);
}

@using (Html.BeginForm("SaveSubject", "Acp", FormMethod.Post, new { @class = "main-form-row" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    @Html.HiddenFor(model => Model.Version)
    <div>@Html.DisplayFor(model => Model.Id)</div>
    <div>@Html.EditorFor(model => Model.Name)</div>
    <div>@Html.DropDownListFor(x => x.UserId, userList)</div>
    <div class="details-coll">
        <button type="submit"><i class="zmdi zmdi-edit zmdi-hc-2x"></i></button>
        <a class="delete-button" href="@Url.Action("DeleteSubject", "Acp", new { pid = Model.Id })"><i class="main-delete zmdi zmdi-delete zmdi-hc-2x"></i></a>
    </div>
}
